<h1>{{StatusHeader}}</h1>
<h2>Query Parameters</h2>
<ul>
	{{#each query_data}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>

<h2>Body Property Values</h2>
<ul>
	{{#each body_data}}
		<li>{{this.name}}: {{this.value}}
	{{/each}}
</ul>